.buttons{
    color:black;
    /* border: 1px solid black; */
    border-radius: 10px;
    border-width: 0;
    width: 40px;
    background-color: cyan;
    text-align: center;
    
}
.red{
    color:white;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 100px;
    
    border-width: 0;
    background-color: rgb(194, 0, 0);
    text-align: center;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}