.button{
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    width: 40px;
    background-color: cyan;
    text-align: center;
    margin-right: 3px;
}
.red{
    color:black;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    background-color: rgb(194, 0, 0);
    text-align: center;

}