nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    color: white;
    margin: 0 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  @media (max-width: 600px) {
    ul {
      display: none;
    }
  
    .menu-btn {
      display: block;
      cursor: pointer;
    }
  
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #333;
      width: 50%;
      height: 100%;
      z-index: 1;
    }
  
    .menu a {
      display: block;
      margin: 20px 0;
    }
  }
  