.main{
  height: 100%;
  width: 100%;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}
.card {
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.748),#01223f);
  padding: 10px;
  width: 400px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h2{
  text-align: center;
  color:whitesmoke;
  font-weight: 500;
}
.about-section {
  padding-left: 10px;
  text-align: center;
  color: white;
}

.title {
  color: grey;
}
.card-img{
  height: 90px;
  width: 40px;
}